.registration
  .registration__box
    .info
      %i Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.text_field :name, autofocus: true, placeholder: "Name"

        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"

        .field
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: "Password"
        .field
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Again"
        .actions
          = f.submit "Sign up"
        .registration-link
          .login
            - if controller_name != 'sessions'
              = link_to "Log in", new_session_path(resource_name)

