%h4 コメント一覧
-if comments.present?
  .comment-bar
    - comments.each do |comment|
      -if comment.user == current_user
        .comment-bar__avatar#right-side
          .comment-set
            =link_to topic_tweet_user_path(@topic,@tweet,comment.user.id), class:"avatar" do
              -if comment.user.avatar.present? 
                = image_tag comment.user.avatar.url, class:"avatar"
              -else
                = image_tag "/assets/default.jpg", class:"avatar"

            %span.comment-set__text
              = simple_format(comment.text)

            - if current_user.id == comment.user_id
              = link_to  topic_tweet_comment_path(@topic,@tweet,comment) ,class: "comment-btn", remote: true, method: :delete do
                = '削除'
      -else
        .comment-bar__avatar#left-side
          .comment-set
            =link_to topic_tweet_user_path(@topic,@tweet,comment.user.id), class:"avatar" do
              -if comment.user.avatar.present? 
                = image_tag comment.user.avatar.url, class:"avatar"
              -else
                = image_tag "/assets/default.jpg", class:"avatar"


            %span.comment-set__text
              = simple_format(comment.text)


-else
  ※現在、コメントはありません
