= render 'shared/header'
.content
  = form_with model: @topic, local: true, class: "content__form" do |f|
    = f.text_field :name, class: "form-input", placeholder: "登録するトピックを入力してください(25字以内）", maxlength: "25"
    .form-btn
      = f.submit '登録', class: 'btn'
  = link_to "Back", :back, class:"back"
  = render 'shared/footer'  