.top
  .top__left
    = icon('fas', 'bars',class: "bars-show")

  .logout
    -if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete
    -else
      = link_to new_user_registration_path, class:"lower__registration" do
        会員登録
  #popup
    投稿
  .new-tweet
    = link_to new_topic_tweet_path(@topic) do
      = icon('fas', 'paper-plane')



  .top__right
    = link_to 'トピック作成', new_topic_path, class: 'link'
    = link_to 'マイページ', edit_user_registration_path, class: 'link'

.main
  .bars-list
    = link_to 'ホーム', topics_path, class: 'link'
    = link_to 'トップ', root_path, class: 'link'
    .list
      .list__name
        トピック
        %span +
      .list__item
        -if user_signed_in?
          - current_user.favorites.each do |favorite|
            .topic
              = link_to topic_tweets_path(favorite.topic.id),class: "topic-name" do
                = favorite.topic.name 

    .list
      .list__name
        フォロー
        %span +
      .list__item
        -if user_signed_in?
          - current_user.followings.each do |following|
            .follow
              = link_to user_path(following.id),class:"follow-name" do
                -if following.avatar.present? 
                  = image_tag following.avatar.url, class:"avatar"
                -else
                  = image_tag "/assets/default.jpg", class:"avatar"
                = following.name
    .list
      .list__name
        いいね
        %span +
        .list__item
          -if user_signed_in?
            - current_user.likes.each do |like|
              .like
                = link_to topic_tweet_path(like.tweet.topic.id,like.tweet.id), class:"like-name", data: {"turbolinks"=>false}  do
                  = like.tweet.title
  .main__search
    = @topic.name
    #favorites_buttons{id: @topic.id}
      = render partial: 'favorites/favorite', locals: { topic: @topic, favorites: @favorites}

  .main__box
    .border

    .left
      - @tweets.each do |tweet|
        - if tweet.images.blank?
          .text-box
            .text-title
              = link_to tweet.title, topic_tweet_path(@topic,tweet),class:"text-title__link"
            .text-info
              .text-info__name
                = link_to topic_tweet_user_path(@topic,tweet,tweet.user.id) do
                  -if tweet.user.avatar.present? 
                    = image_tag tweet.user.avatar.url, class:"avatar"
                  -else
                    = image_tag "/assets/default.jpg", class:"avatar"


              .text-info__time
                = tweet.created_at.to_s(:datetime_jp)

            #likes_buttons{id: tweet.id}
              = render partial: 'likes/like', locals: { tweet: tweet, likes: @likes}
 
    .right
      - @tweets.each do |tweet|
        - if tweet.images.present?
          .image-box
            .image-title
              = link_to tweet.title, topic_tweet_path(@topic,tweet), class:"image-title__link", data: {"turbolinks"=>false} 
            .image-info
              .image-info__name
                = link_to topic_tweet_user_path(@topic,tweet,tweet.user.id) do
                  -if tweet.user.avatar.present? 
                    = image_tag tweet.user.avatar.url, class:"avatar"
                  -else
                    = image_tag "/assets/default.jpg", class:"avatar"
              .image-info__time
                = tweet.created_at.to_s(:datetime_jp)
            - tweet.images.each do |image|
              .image-tag
                = image_tag image.src.url, class:"image-tag__image"
            #likes_buttons{id: tweet.id}
              = render partial: 'likes/like', locals: { tweet: tweet, likes: @likes}

  .bottom
    &copy; share_diary 2020.
