= render 'shared/header'
= form_with model: [@topic,@tweet], local: true, class: "post" do |f|
  .post__top 新規投稿 
  .post__box
    .post-title 
      .post-title__title Title
      =f.text_field :title,placeholder: "タイトル入力"
    .post-text
      .post-text__text Text
      = f.text_area :content, placeholder: "テキスト入力", rows: "2"
  #post__image
    .image-title Image
    #previews
      - if @tweet.persisted? 
        - @tweet.images.each_with_index do |image, i| 
          = image_tag image.src.url, data: { index: i } 

    = f.fields_for :images do |image| 
      .js-file_group{data: {index:  "#{image.index}" }}
        = image.file_field :src, class: "js-file"
        %br
        %span.js-remove 削除

  .post__link
    = f.submit 'SEND', class: 'link'
  = link_to "Back", :back, class:"back"
  = render 'shared/footer'