= render 'shared/header'
.post-show
  = link_to topic_tweets_path(@topic) do
    = icon('fas','home', class:"home")
  .post-show__box
    .post-title
      = @tweet.title
    .post-info
      .post-info__name
        = link_to topic_tweet_user_path(@topic,@tweet,@tweet.user.id) do
          -if @tweet.user.avatar.present? 
            = image_tag @tweet.user.avatar.url, class:"avatar"
          -else
            = image_tag "/assets/default.jpg", class:"avatar"


      .post-info__time
        = @tweet.created_at.to_s(:datetime_jp)
    - if @tweet.images.present?
      .post-box
        .post-box__image
          - @tweet.images.each do |image|
            =  link_to image.src.url, 'data-lightbox': "group" do 
              = image_tag image.src.url, class:"image-tag"
        .post-box__text
          .text-title Text
          .text-box
            .text-box__content
              = simple_format(@tweet.content)
            - if current_user.id == @tweet.user_id
              = link_to  topic_tweet_path(@topic,@tweet) ,class: "delete-tweet", local: true, method: :delete do
                = '削除'
    - else
      .post-box
        .post-box__text
          .text-title Text
          .text-box
            .text-box__content
              = simple_format(@tweet.content)
            - if current_user.id == @tweet.user_id
              = link_to  topic_tweet_path(@topic,@tweet) ,class: "delete-tweet", local: true, method: :delete do
                = '削除'



    .post-comments
      = render partial: 'comments/comment', locals: {comments: @comments} 

    .post-form
      = form_with(model: [@topic,@tweet,@comment], remote: true, id: "new_comment") do |f|
        = f.text_area :text, placeholder: "コメントする" , rows: "2", class: "text-area"
        = f.submit "SEND", class: "submit" 

    = render 'shared/footer'