.user-show 
  .user-title
    User
  .user-box
    .user-box__avatar
      -if @user.avatar.present? 
        = image_tag @user.avatar.url, class:"user-avatar"
      -else
        = image_tag "/assets/default.jpg", class:"user-avatar"
      .module
        #follows_buttons
          = render 'relationships/follow_button', user: @user
        .module__name
          = @user.name
    .user-box__info
      .introduce-title
        Introduce
      .introduce-content
        -if @user.introduce?
          .introduce
            = simple_format(@user.introduce)
        -else
          .introduce
  .user-tweets
    - if @user.tweets
      .tweet-list
        .tweet-list__name
          tweet一覧
          %span +
        .tweet-list__item
          - @user.tweets.each do |tweet|
            = link_to topic_tweet_path(@topic,tweet.id),class: "tweet-title" do
              = tweet.title
  .user-follower
    - if @user.followers
      .follower-list
        .follower-list__name
          follower一覧
          %span +
        .follower-list__item
          - @user.followers.each do |follower|
            = link_to user_path(follower.id),class:"follower-avatar" do
              -if follower.avatar.present? 
                = image_tag follower.avatar.url, class:"avatar"
              -else
                = image_tag "/assets/default.jpg", class:"avatar"
              = follower.name
  = link_to topic_tweets_path(@topic) do
    = icon('fas','home', class:"home")


