= render 'shared/header'
.user-show 
  .user-title
    ユーザー
  .container
    .container__upper
      .avatar
        -if @user.avatar.present? 
          = image_tag @user.avatar.url, class:"user-avatar"
        -else
          = image_tag "/assets/default.jpg", class:"user-avatar"
        .module
          #follows_buttons
            = render 'relationships/follow_button', user: @user
          .module__name
            = @user.name
      .info
        .introduce-title
          自己紹介
        .introduce-content
          -if @user.introduce?
            .introduce
              = simple_format(@user.introduce)
          -else
            .introduce
    .container__lower
      .user-tweets
        - if @user.tweets
          .tweet-list
            .tweet-list__name
              ツイート      一覧
              %span +
            .tweet-list__item
              - @user.tweets.each do |tweet|
                = link_to topic_tweet_path(tweet.topic.id,tweet.id),class: "tweet-title", data: {"turbolinks"=>false}  do
                  = tweet.title
      .user-follower
        - if @user.followers
          .follower-list
            .follower-list__name
              フォロワー      一覧
              %span +
            .follower-list__item
              - @user.followers.each do |follower|
                = link_to user_path(follower.id),class:"follower-avatar" do
                  -if follower.avatar.present? 
                    = image_tag follower.avatar.url, class:"avatar"
                  -else
                    = image_tag "/assets/default.jpg", class:"avatar"
                  = follower.name

