.header
  .header__left
    = link_to 'トップ', topics_path, class: 'link'
  .logout
    -if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete
    -else
      = link_to new_user_registration_path, class:"lower__registration" do
        会員登録




  .header__right
    = link_to 'トピック作成', new_topic_path, class: 'link'
    = link_to 'マイページ', edit_user_registration_path, class: 'link'
